html
{
    scroll-behavior: smooth;
}

body 
{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.about
{
    background-color: #FFB695;
}

img
{
        display: block;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        max-width: 50%;
        max-height: 50%;
}
h1
{
    margin: 20px;
    font-weight:bolder;
}

p
{
    margin: 30px;
}

.column
{
    float: left;
    width: 50%;
    text-align: left;
}

.column1
{
    float: left;
    width: 50%;
    text-align: left;
    background-color: rebeccapurple;
}

.row:after 
{
    content: '';
    display: table;
    clear: both;
}

#Wage
{
    display:none;
}